<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <h1>Purchase Tokens</h1>
        <div>You can use MESH tokens to purchase internet access.</div>
        <div>
          <a href="">How many tokens do I need?</a>
        </div>

        <button class="btn btn-second-primary">Next</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
