$vertical-margin: 20px;

:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 2000;
}

// TODO: this should be moved into a "global" style
.modal {
  display: block;
  background-color:rgba(0, 0, 0, 0.5);

  .modal-body {
    text-align: center;
  }

  .row {
    text-align: left;
    margin-top: $vertical-margin;
  }

  // Make the drop-downs fill their grid cells
  [ngbDropdown] {
    width: 100%;
  }
  button {
    width: 100%;
  }

  button.next-button {
    margin-top: $vertical-margin;
  }

}
