@import '../../../assets/scss/variables';
@import '../../../assets/scss/bootstrap_overrides';

input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: $gray-light;
}

.input-group-append {
  img {
    height: 22px;
  }
}

.spaced {
  margin-bottom: 20px;
  display: block;
  color: $secondary-text-color;
}
a.spaced {
    text-decoration: underline;
}

// Not sure if this is a style that shows up elsewhere
.address-header {
  font-size: 12px;
  text-transform: uppercase;
  border-color: $gray-light;
  padding-bottom: 10px
}

.input-group {
  padding-bottom: 20px;
  .input-group-text-qr {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
  }
}

.bottom-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    min-width: 160px;
  }
}

/** pop-out div that shows the QR */
$qr-width: 180px;
div.qr {
  z-index: 140;
  position: fixed;
  right: 0px;
  top: calc((100% / 2) - ((#{$qr-width} + 37px)/2));
  width: $qr-width;
  height: calc(#{$qr-width} + 37px);
  padding: 15px;

  background-color: white;
  border-top-left-radius: $card-border-radius;
  border-bottom-left-radius: $card-border-radius;

  .close {
    text-align: right;
    padding-bottom: 15px;
  }

  .qr-container {
    width: 100%;
  }

}
