<div class="routed-modal-container" (click)="conditionalClose($event)">
  <div class="routed-modal">
    <h2 [translate]>WALLET_SETUP.TITLE</h2>

    <div class="address-header" [translate]>WALLET_SETUP.ADDRESS</div>

    <div class="input-group">
      <input type="text" disabled class="form-control" [value]="wallet_address">
      <div class="input-group-append">
        <span class="input-group-text">copy</span>
        <span class="input-group-text input-group-text-other">other</span>
      </div>
    </div>

    <div class="spaced" [translate]>WALLET_SETUP.TRANSFER_COPY</div>

    <a href="#" class="spaced" [translate]>WALLET_SETUP.WHERE</a>
    <a href="#" class="spaced" [translate]>WALLET_SETUP.HOW</a>
    <a href="#"><span [translate]>WALLET_SETUP.LEARN_MORE</span>&gt;</a>

    <div class="bottom-controls">
      <a class="btn btn-lg btn-link" [routerLink]="['', {outlets: {modal:null}}]" [translate]>WALLET_SETUP.DO_LATER</a>
      <button class="btn btn-lg btn-primary" [translate]>GENERAL.DONE</button>
    </div>
  </div>
</div>
