@import '../../../assets/scss/variables';

.tooltip-container {
  // dimensions are maybe better handled by the CDK library?
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 #74748026;
  background-color: $brand-muted;
  border: solid 1px $gray-lighter;
  box-shadow: 0 2px 10px 0 rgba(116,116,128,0.15);
  padding: 20px 15px;
  color: $gray;
}

.tooltip-pointer {
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip-pointer:after, .tooltip-pointer:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.right.tooltip-container .tooltip-pointer {
	left: -26px; // TODO: fix
	top: 20px;
}

.right.tooltip-container .tooltip-pointer:after {
	border-right-color: $brand-muted;
	border-width: 13px;
	margin-top: -13px;
  left: 2px;
}

.right.tooltip-container .tooltip-pointer:before {
	border-right-color: $gray-lighter;
	border-width: 14px;
	margin-top: -14px;
}

.left.tooltip-container .tooltip-pointer {
	left: calc(100% - 1px);
	top: 20px;
}

.left.tooltip-container .tooltip-pointer:after {
	border-left-color: $brand-muted;
	border-width: 13px;
	margin-top: -13px;
}

.left.tooltip-container .tooltip-pointer:before {
	border-left-color: $gray-lighter;
	border-width: 14px;
	margin-top: -14px;
}

.bottom.tooltip-container .tooltip-pointer {
  top: -13px;
	left: calc(50% - 13px);
}

.bottom.tooltip-container .tooltip-pointer:after {
	border-bottom-color: $brand-muted;
	border-width: 13px;
	margin-top: -12px;
}

.bottom.tooltip-container .tooltip-pointer:before {
	border-bottom-color: $gray-lighter;
	border-width: 14px;
	margin-top: -15px;
  left: -1px;
}


.top.tooltip-container .tooltip-pointer {
  bottom: 0;
	left: calc(50% - 13px);
}

.top.tooltip-container .tooltip-pointer:after {
  bottom: -25px;
	border-top-color: $brand-muted;
	border-width: 13px;
	margin-top: -13px;
}

.top.tooltip-container .tooltip-pointer:before {
  left: -1px;
  bottom: -27px;
	border-top-color: $gray-lighter;
	border-width: 14px;
	margin-top: -14px;
}
