<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-lg-10 offset-1">
      <div class="modal-header modal-header-sm">
        <a [routerLink]="[ '/met-manager', {outlets: { 'met-manager-modal': null } }]" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div class="modal-body cols-lg-11 text-center">
        <h1>Purchase MET Tokens</h1>
        <small class="secondary-text">You can use MET tokens to purchase internet access on MESH.</small>
        <div class="row steps-row"><div class="col step-group active"><span class="step">1</span><small>Select quantity</small></div><div class="col step-group text-center"><span class="step">2</span><small>Choose payment method</small></div><div class="col text-right step-group"><span class="step">3</span><small>Confirmation</small></div></div>
        <div class="row">
          <div class="col-6">
              <label for="met">Number of tokens</label>

                <div class="input-group">
      <span class="input-group-addon chiclet btn-primary" id="met-icon">M</span>
      <input type="number" class="form-control" aria-describedby="met-icon" value="5" step=".01" name="met">
                        </div>

          </div>
          <div class="col-6">
              <label for="gb">Total bandwidth</label>
              <div class="input-group">
    <span class="input-group-addon chiclet btn-primary" id="gb-icon"><img src="assets/imgs/gb-icon.svg"></span>
    <input type="number" class="form-control" aria-describedby="gb-icon" value="5" step=".5" name="gb">
                      </div>
        </div>
        <div class="col-12">
          <small>Total cost in USD: ${{ calculate_cost() | number }}</small>
        </div> 
        <div class="text-center col-12"><a href="" class="primary-text-color"><small>How many tokens do I need?</small></a></div>
        <div class="col-4 offset-4 text-center">
          <a href="#" class="btn btn-lg btn-second-primary btn-large next-button" [routerLink]="[ '../', {outlets: { 'met-manager-modal': 'purchase-payment' } }]" >Next</a>
          <br />
          <a href="#" class=""><small class="secondary-text">Back</small></a>
        </div>
      </div> <!-- .row -->


      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
