$vertical-margin: 20px;

.modal {



  .row {
    text-align: left;
    margin-top: $vertical-margin;
  }

  // Make the drop-downs fill their grid cells
  [ngbDropdown] {
    width: 100%;
  }
  .btn {
    width: 100%;
  }

  .btn.next-button {
    margin-top: $vertical-margin;
  }

}
