
/* not used anymore? */
@font-face {
  font-family: 'ChiFont';
  src: url("../fonts/ChiFont.eot?tws7d0");
  src: url("../fonts/ChiFont.eot?tws7d0#iefix") format('embedded-opentype'), url("../fonts/ChiFont.ttf?tws7d0") format('truetype'), url("../fonts/ChiFont.woff?tws7d0") format('woff'), url("../fonts/ChiFont.svg?tws7d0#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
