
/* not used anymore? */
@font-face {
  font-family: 'ChiFont';
  src: url("../fonts/ChiFont.eot?tws7d0");
  src: url("../fonts/ChiFont.eot?tws7d0#iefix") format('embedded-opentype'), url("../fonts/ChiFont.ttf?tws7d0") format('truetype'), url("../fonts/ChiFont.woff?tws7d0") format('woff'), url("../fonts/ChiFont.svg?tws7d0#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf") format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Italic.ttf") format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-LightItalic.ttf") format('truetype');
  font-weight: 300;
  font-style: italic;
}
