// TODO: package this with the app
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);

// The turquiose color
$primary-color: #18BECC;
// The orange color
$secondary-color: #F5A623;
$headers: 'Roboto', sans serif;
$dark-bg-color: #616161;
$primary-text-color: #3F414C;
$secondary-text-color: #99A1B0;
$light-grey-bg: #99A1B0;
$white-text: #fff;
$darkest-grey: #3F414C;
/* Order matter! */
@import './mixins';
@import './variables';

@import './alert';
@import './alert';
@import './badge';
@import './code';
@import './input-group';
@import './images';
@import './responsive-embed';
@import './reboot';
@import './breadcrumb';
@import './jumbotron';
@import './tables';
@import './button-group';
@import './list-group';
@import './tooltip';
@import './toggle';
@import './buttons';
@import './media';
@import './transitions';
@import './card';
@import './type';
@import './carousel';
@import './modal';
@import './utilities';
@import './close';
@import './nav';
@import './navbar';
@import './custom-forms';
@import './normalize';
@import './custom';
@import './pagination';
@import './dropdown';
@import './popover';
@import './forms';
@import './print';
@import './grid';
@import './progress';

@mixin minimized-breakpoint(){
 @media (max-width: 500px) { @content; }
}

/*common */

html {font-size: 16px;}
#electron-titlebar {
  span{float: right;font-size: 12px;font-weight: normal;}
padding:8px 30px; background: $darkest-grey;border-radius: 10px 10px 0 0;text-align: center;color: #fff;font-size: 13px;text-transform:uppercase;}
a small {color:$primary-color !important;}
h2{/* 1.3 MET: */
font-size: 24px;
color: #000000;
line-height: 24px;}
h3 {font-size: 70px;font-weight: 400;color:$secondary-text-color;letter-spacing:-3px;}
h3 span{color:$primary-text-color;font-size: 18px;font-weight: normal;margin-left: 5px;letter-spacing:0px;}
h4 {text-transform: uppercase;color: $secondary-text-color; font-family: $headers; font-size: 12px; display: inline;}
.hidden{display: none !important;}
.back-link{margin-top: 5px;}
.panda{background: url('../imgs/panda-placeholder.png') no-repeat;background-size: 100%;background-position: bottom;margin-top: 30px;flex:1 1;position: absolute;width: 100%;height: 100%;margin-left: 0px;margin-right: 0px;bottom: 0px;z-index: 0;opacity: .7;}
.panda-flip{background: url('../imgs/panda-placeholder-flip.png') no-repeat;background-size: 100%;background-position: bottom;}
.panda-chi{background: url('../imgs/panda-coins.png') no-repeat;background-size: 100%;background-position: bottom;}
.help-text{text-decoration:underline;}
.pop-over-content {z-index: 3000;
  .message {width: 443px;
    left: -210px;
    top: 20px;
    position: absolute;
background: rgba(74,74,74,0.89);
box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.41);
border-radius: 4px 4px 4px 4px;
	color: #fff;
	padding: 15px;
    font-size: 13px;
    border-radius: 4px;
	&:before{
		right: 100%;
    top: 35%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: rgba(74, 74, 74, 0.89);
    border-width: 16px;
    margin-top: -16px;}
  }
}
.po2 {
  .message{
    &:before{right: 50%;
  top: 0%;margin-right: -16px;
  margin-top: -32px;
border-bottom-color: rgba(74, 74, 74, 0.89);
border-right-color: transparent;}
  }}
.btn-second-primary:hover {background-color:#ffb335; border-color: #eccb93;}
.btn-second-primary{color: #fff !important;}
.btn{padding: 8px .7rem;font-family: Roboto, "Helvetica Neue", Arial, sans-serif !important;font-weight: 300;}
.row.equal-height {
    display: flex;
    flex-wrap: wrap;

}
.row.equal-height > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.card {
    flex: 1;
    margin-bottom: 1.5rem;
}
.row .col {padding-top: 30px;padding-bottom: 30px;}
#wrapper{padding-left: 200px;width:100%;display: flex;flex-direction: column;min-height: 100vh;
@include minimized-breakpoint {padding-left: 110px;}}

.btn-primary{background-color: $primary-color;border-color: $primary-color;}
.btn-lg{padding: 0.75rem 1.5rem !important;}
.ci-met-stack {background: url('../imgs/met-stack.svg') no-repeat;height:20px;float: left;
  @include minimized-breakpoint {width: 36px; height:36px;background-size: 36px;background-position:center;float:none;}}

input[type="range"]{
-webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 12px;
    background-color: $primary-color;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: $primary-color;
    /* Oval: */
background: $primary-color;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
border-radius: 50%;
    height: 22px;
    width: 22px;
}

.h-80{height:80% !important;}
.h-20{height:20% !important;}
.dropdown{
.flag {width: 20px; height: 15px;margin-right: 5px;}
}


/* side nav */
#sidebar-wrapper{
 margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  @include minimized-breakpoint {margin-left: -110px;
   left: 110px;
   width: 110px;}
.connect-button{width: 84px;margin:auto;}
.sidenav {
      background-color:$dark-bg-color;
      color: $white-text;
      color: #fff;
      height: 100vh;
      font-size: 13px;
      @include minimized-breakpoint {padding: 30px 0px;}
      .navbar{@include minimized-breakpoint {padding: 0 0;}}
      .nav{margin-top:20px;@include minimized-breakpoint {border-bottom: 1px solid $gray-lighter}}
      .dropup{position:absolute;bottom:60px;padding: 0px 15px;width:138px;
        @include minimized-breakpoint {width:100%; text-align:center;padding: 0px 0px;}
      .dropdown-menu{left: auto !important;top:auto !important;min-width:auto !important;
      .dropdown-item {padding: 10px 1.5rem;}}
      .dropdown-toggle{width:100%;
        @include minimized-breakpoint {width:100px;}
      &:after{float:right;margin-top:6px;color:#fff;}}}
    }
    .nav-pills {
      li.nav-item{@include minimized-breakpoint {background: gray;
    border-top: 1px solid $gray-lighter;}}
			.toggler{width:122px;
				div {position: absolute;top:7px;left:42px;color:$primary-text-color;}
				div:before {content: 'Connect';text-transform:uppercase;color:$primary-text-color;}
				&__label input:checked ~ .toggler div{left:14px;}
				&__label input:checked ~ .toggler div:before {content: 'Connected';color: #fff !important;}
			}
 a {color: #fff; font-family: $headers;font-size: .8rem;}
 .fa{
   font-size: 20px;line-height: 20px;margin-right: 20px;width: 20px; text-align: center;vertical-align: middle;
 @include minimized-breakpoint {font-size: 36px;width:36px;margin-right: 0px;display:block;margin-bottom:10px;opacity: .9;line-height:36px;width: 100%;}}
 .fa-globe{line-height: 36px;}
 .nav-link {padding:.6rem 0;@include minimized-breakpoint {text-align:center;}}
 .nav-link.active:hover{a{background-color: transparent;}}
.nav-link.active, .nav-link.active:hover{background: none;color:$secondary-color;}
}
}



/* Dashboard */

.dashboard-content{
  .row.equal-height{padding: 0px 15px;margin-left: 0px;  margin-right: 0px;}
  .fa-question-circle{color: $primary-color;}
  height: 100vh;
  .last {.tooltip{margin-left: -140px;.tooltip-inner{&:before{left:97%;}}}}
flex: 0 1;
padding-top: 30px;
padding-right: 0px;
padding-left: 0px;
/*all cards*/
.card{box-shadow: 0 2px 4px 0 rgba(35,36,37,0.30);}
	.dashboard-card {
		padding-bottom: 10px;
		.card-header{padding: .3rem 10px;
font-family: Roboto-Regular;
font-size: 12px;
color: #99A1B0;
letter-spacing: 0.5px;.card-title-data{color: $primary-text-color;padding-left: 5px;}}
	.card-block {padding: .2rem 0rem 1.25rem 0rem;

	p.card-desc{color: $primary-text-color;margin-bottom:-5px;}
	.btn-lg{font-weight:300;font-size: 20px;line-height: 25px;}
	.dropdown-toggle{border: none;
	&:hover{background:none;}
	&:active,&:focus{background-color:transparent;border: none;}}}
	.show {
		.btn-secondary.dropdown-toggle {background-color: transparent; border: none;}
		.dropdown-menu{width: 100%;}
	}
	.card-action-container{padding: 5px 15px;.btn,.btn-group,input, .dropdown {width:100%;}}
	.card-content{width: 100%; text-align: center;padding: 10px;
	h3 {text-align: center;margin:auto;}
	img{width: 100%;}

	}
	color:$secondary-text-color;

		.card-help{position:absolute;top:5px;right:10px;

      .tooltip{
      .tooltip-inner{width:300px;box-shadow: 0 0 0 2px #FFF;border: 2px dashed #79E2F5;}
    }

		}
	}
	/*MET balance*/
	.met-balance {
.card-content{display: flex;}

	}

	.security-level{.card-content{img{width: 90%;}}}
	/*Usage Summary*/
	.usage-summary {
	hr {margin-bottom: 0px;}
	}
	/*Browsing location*/
	.browsing-location{
	 .dropdown-toggle::after{float: right;margin-top: 6px;}
	 }
} /* End Dashboard Content*/

.secondary-text {
	color: $secondary-text-color;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #FFF url(../imgs/spinners.png) no-repeat center center;
    width: 2em;
    opacity: 1; /* shows Spin Buttons per default (Chrome >= 39) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

// Put a "chiclet" on the left of a button.
// To use, put .btn-chiclet on the .btn element, and put a .chiclet div inside the button
.btn-chiclet {
	padding-left: 55px;
	> .chiclet {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		border-radius: .25rem 0 0 .25rem;
		background-color: $primary-color;
		color: white;
		width: 40px;

		// centers contained divs
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.step-group{
	.step{color: #fff;font-size: 13px;background-color:$light-grey-bg;border-radius: 50%;width:22px;height:22px;margin-right:5px;display: inline-block;text-align: center;line-height: 22px;}
	.connector{hr{width:100%;}}
	&.active span{background-color:$secondary-color;}
	&.complete{
		span{background-color:$brand-success;}
		.fa-check{color:$brand-success;}
	}
	&.col {padding-top:0px;padding-bottom: 0px;}
}
/* some modal utility things
*/
.modal {
	// We use the h1 for the modal title; this brings it closer to the top.
	.modal-body {
		padding-top: 0;
		.steps-row{margin-top: 20px;}
		.payment-container{margin-top: 30px;}
		h1 {
			margin-top: 0;
			text-align: center;
		}
		label {margin-bottom: .2rem;}
		.input-group{
		input[type='number']{height:52px;}
		.input-group-addon{width: 56px;}
	}
	}
	// put on the modal-title if you want it to be as small as possible; e.g. if you just want enough space for a "close" button
	.modal-header-sm {
		padding: 10px 3px 0 3px;
		border: 0;
	}

}
