@import './fonts';

@import './mixins';
@import './variables';
@import './bootstrap_overrides';
@import '~bootstrap/scss/bootstrap.scss';

/*common */
html {
  font-size: 16px;
  overflow: hidden;
}


a small {
  color: $brand-primary !important;
}

h1, h2, .h1, .h2 {
  font-weight: bold;
}

h1, .h1 {
  line-height: 48px;
}

h2, .h2 {
  line-height: 32px;
}

h3, .h3 {
  line-height: 30px;
}

h4, .h4 {
  font-family: 'OpenSans';
  line-height: 32px;
  font-weight: bold;
}


// still used?
.icon-chi-solid {
  font-family: 'ChiFont';

  &:before {
    content: "\e903";
  }
}

form {
  .form-group {
    .form-control {
      &:focus {
        // border: 1px solid $brand-primary;
        // box-shadow: 0 1px 6px $brand-primary-light;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.back-link {
  margin-top: 5px;
}

// are we killing this panda?
.panda {
  @include minimized-breakpoint {
    display: none;
  }
  background: url("../imgs/panda-placeholder.png") no-repeat;
  background-size: 100%;
  background-position: bottom;
  margin-top: 30px;
  flex: 1 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 0.5;
}

.panda-flip {
  background: url("../imgs/panda-placeholder-flip.png") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.panda-chi {
  background: url("../imgs/panda-coins.png") no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.help-text {
  text-decoration: underline;
}

.pop-over-content {
  z-index: 3000;

  .message {
    @include minimized-breakpoint {
      width: 328px;
      left: -165px;
    }

    form {
      .form-group {
        @include minimized-breakpoint {
          margin-bottom: 0;
        }
      }
    }
    position: absolute;
    background: rgba(74,74,74,0.89);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.41);
    border-radius: 4px 4px 4px 4px;
    color: #fff;
    padding: 15px;
    font-size: 13px;
    border-radius: 4px;
  }
}

.po-top {
  .message {
    width: 443px;
    left: -210px;
    top: 22px;

    &:before {
      right: 50%;
      top: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: rgba(74, 74, 74, 0.89);
      border-width: 16px;
      margin-top: -32px;
      margin-left: 16px;
    }
  }
}

.po-right {
  margin-left: 16px;

  .message {
    min-width: 120px;

    &:before {
      left: 0;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-color: rgba(194, 225, 245, 0);
      border-right-color: rgba(74, 74, 74, 0.89);
      border-width: 8px;
      margin-left: -16px;
      margin-top: -8px;
    }
  }
}

// btns

.btn {
  padding: 8px 0.7rem;
  font-family: 'OpenSans';
  font-weight: 300;
  font-size: 14px;

  text-transform: uppercase;

  &:focus {
    color: #fff;
  }
}

.btn-second-primary:hover {
  background-color: #ffb335;
  border-color: #eccb93;
}

.btn-second-primary {
  color: #fff !important;
}


.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}

.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1;
  margin-bottom: 1.5rem;
}

.row .col {
  padding-top: 30px;
  padding-bottom: 30px;
}

#wrapper {
  padding-left: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include minimized-breakpoint {
    padding-left: 100px;
  }
}

.btn-lg {
  padding: 0.75rem 1.5rem !important;
  text-transform: uppercase;
}

.ci-met-stack {
  background: url("../imgs/met-stack.svg") no-repeat;
  height: 20px;
  float: left;
  @include minimized-breakpoint {
    width: 36px;
    height: 36px;
    background-size: 36px;
    background-position: center;
    float: none;
  }
}


.h-80 {
  height: 80% !important;
}

.h-20 {
  height: 20% !important;
}

.dropdown {
  .flag {
    width: 20px;
    height: 15px;
    margin-right: 5px;
  }
}

.tooltip {
  .tooltip-inner {
    width: 300px;
    box-shadow: 0 0 0 2px #FFF;
    border: 2px dashed #79E2F5;
  }
}
/* Dashboard */
.dashboard-content {
  .row.equal-height {
    padding: 0 15px;
    margin-left: 0;
    margin-right: 0;
  }

  height: 100vh;

  .last {
    .tooltip {
      margin-left: -140px;

      .tooltip-inner {
        &:before {
          left: 97%;
        }
      }
    }
  }
  flex: 0 1;
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;

  /*all cards*/
  .card {
    box-shadow: 0 2px 4px 0 rgba(35,36,37,0.30);
    // border: 0;
  }


  .dashboard-card {
    // padding-bottom: 10px;
      // border-radius: 10px;

    .card-header {
      // border-radius: 10px 10px 0 0;
      // padding: 15px 10px 15px 10px;
      // font-family: OpenSans-Semibold;
      text-transform: uppercase;
      font-family: OpenSans;
      font-size: 12px;
      color: #757575;
      line-height: 18px;
      background-color: $dashboard-card-header-background;
    }

    .card-block {
      padding: 0.2rem 0 0;

      p.card-desc {
        color: $primary-text-color;
        margin-bottom: -5px;
      }

      .dropdown-toggle {
        border: none;

        &:hover {
          background: none;
        }

        &:active,
        &:focus {
          background-color: transparent;
          border: none;
        }
      }
    }

    .card-footer {
      background-color: inherit;
      padding-bottom: 10px 15px 25px 10px;
      .btn {
        width: 100%;
      }
    }

    .show {
      .btn-secondary.dropdown-toggle {
        background-color: transparent;
        border: none;
      }

      .dropdown-menu {
        width: 100%;
      }
    }

    // .card-action-container {
    //   padding: 5px 15px;
    //   display: flex;
    //   flex-direction: column;
    //
    //   .btn,
    //   .btn-group,
    //   .dropdown,
    //   input {
    //     width: 100%;
    //   }
    //
    //   h3 {
    //     font-size: 36px;
    //     letter-spacing: normal;
    //   }
    // }

    .card-content {
      width: 100%;
      text-align: center;
      padding: 10px;

      h3 {
        text-align: center;
        margin: auto;
      }

      img {
        width: 100%;
      }
    }
    color: $secondary-text-color;

    .card-help {
      position: absolute;
      top: 10px;
      right: 10px;
      img {
        height: 14px; // ???
      }
    }
  }
}
/* End Dashboard Content*/
.secondary-text {
  color: $secondary-text-color;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #FFF url("../imgs/spinners.png") no-repeat center center;
  width: 2em;
  opacity: 1;
  /* shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
// Put a "chiclet" on the left of a button.
// To use, put .btn-chiclet on the .btn element, and put a .chiclet div inside the button

.btn-chiclet {
  padding-left: 55px;

  > .chiclet {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 0.25rem 0 0 0.25rem;
    // background-color: $primary-color;
    color: white;
    width: 40px;
    // centers contained divs
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.step-group {
  .step {
    color: #fff;
    font-size: 13px;
    background-color: $light-grey-bg;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
  }

  .connector {
    hr {
      width: 100%;
    }
  }

  &.active span {
    // background-color: $secondary-color;
  }

  &.complete {
    span {
      background-color: $brand-success;
    }

    .fa-check {
      color: $brand-success;
    }
  }

  &.col {
    padding-top: 0;
    padding-bottom: 0;
  }
}
/* some modal utility things
*/
.modal {
  // We use the h1 for the modal title; this brings it closer to the top.
  .modal-body {
    padding-top: 0;

    .steps-row {
      margin-top: 20px;
    }

    .payment-container {
      margin-top: 30px;
    }

    h1 {
      margin-top: 0;
      text-align: center;
    }

    label {
      margin-bottom: 0.2rem;
    }

    .input-group {
      input[type='number'] {
        height: 52px;
      }

      .input-group-addon {
        width: 56px;
      }
    }
  }
  // put on the modal-title if you want it to be as small as possible; e.g. if you just want enough space for a "close" button
  .modal-header-sm {
    padding: 10px 3px 0;
    border: 0;
  }
}
