@import '../../../assets/scss/variables';

.heading {
  text-transform: uppercase;
  margin-bottom: 8px;
}
.heading-2 {
  margin-top: 26px;
}

// If this style gets used anywhere else, it should be moved to the mother css file
.btn-underline {
  padding-left: 0;
  text-align: left;
  border-bottom: 1px solid $gray-lighter;
  border-radius: 0;
  font-size: 12px;
  color: $gray;
  background-color: unset; // electron's user-agent stylesheet makes this gray
  img {
    width: 19px;
    margin-right: 20px;
  }
}

.btn-primary {
  margin-top: 50px;
}
