<div class="divided-dialog">
  <div>
    <h2 [translate]>WALLET_BACKUP.DOWNLOAD_TITLE</h2>
    <div class="small gray" [translate]>WALLET_BACKUP.DOWNLOAD_EXPLANATION</div>
  </div>

  <div>
    <div class="caption heading" [translate]>WALLET_BACKUP.DOWNLOAD_SAVE_HD</div>

    <button class="btn btn-block btn-underline" [translate]>WALLET_BACKUP.DOWNLOAD_NOW</button>

    <div class="caption heading heading-2" [translate]>WALLET_BACKUP.DOWNLOAD_SAVE_TO</div>
    <button class="btn btn-block btn-underline" [translate]>WALLET_BACKUP.DOWNLOAD_GOOGLE_DRIVE</button>
    <button class="btn btn-block btn-underline" [translate]>WALLET_BACKUP.DOWNLOAD_DROPBOX</button>

    <button class="btn btn-lg btn-block btn-primary" [translate]>GENERAL.DONE</button>
  </div>
</div>
