<div class="divided-dialog">
  <div>
    <h2 [translate]>WALLET_BACKUP.DOWNLOAD_TITLE</h2>
    <div class="small gray" [translate]>WALLET_BACKUP.DOWNLOAD_EXPLANATION</div>
  </div>

  <div>
    <div class="caption heading" [translate]>WALLET_BACKUP.DOWNLOAD_SAVE_HD</div>

    <button class="btn btn-block btn-underline">
      <img src="./assets/imgs/icons/Download.png" srcset="./assets/imgs/icons/Download@2x.png 2x, ./assets/imgs/icons/Download@3x.png 3x" aria-disabled>
      <span [translate]>WALLET_BACKUP.DOWNLOAD_NOW</span>
    </button>

    <div class="caption heading heading-2" [translate]>WALLET_BACKUP.DOWNLOAD_SAVE_TO</div>
    <button class="btn btn-block btn-underline">
      <img src="./assets/imgs/icons/Google_Drive.png" srcset="./assets/imgs/icons/Google_Drive@2x.png 2x, ./assets/imgs/icons/Google_Drive@3x.png 3x" aria-disabled>
      <span [translate]>WALLET_BACKUP.DOWNLOAD_GOOGLE_DRIVE</span>
    </button>
    <button class="btn btn-block btn-underline">
      <img src="./assets/imgs/icons/Dropbox.png" srcset="./assets/imgs/icons/Dropbox@2x.png 2x, ./assets/imgs/icons/Dropbox@3x.png 3x" aria-disabled>
      <span [translate]>WALLET_BACKUP.DOWNLOAD_DROPBOX</span>
    </button>

    <button class="btn btn-lg btn-block btn-primary" (click)="done()" [translate]>GENERAL.DONE</button>
  </div>
</div>
