<div class="panda panda-flip" style="opacity: .7;"></div>
<div class="row equal-height">
  <div class="col-lg-10 col-sm-12 offset-lg-1">
    <h1 class="text-center">About ORCHID</h1>
  </div>
  <div class="col-lg-7 col-sm-12 offset-lg-1">
    <h2>Welcome to a world where users own the internet.</h2>
    <p>The Orchid protocol is the decentralized, open-source technology for an Internet free from surveillance and censorship.</p>
    <p>Orchid's open source technology protocol combines surplus bandwidth, state-of-the-art encryption, and a decentralized infrastructure built so that people on all corners of the globe can participate and exchange bandwidth for payment in peer-to-peer transactions using Orchid tokens on the Ethereum blockchain.
    </div>
    <div class="col-lg-3 col-sm-12 text-center my-auto">
      <img src="assets/imgs/orchid-logo-2-color.svg" style="width: 70%;margin: 0px auto;">
    </div>
    <div class="col-lg-10 col-sm-12 offset-lg-1">
    <p>The Orchid Network will evolve so that the millions of users and nodes distributed globally will fortify the network against attacks.</p> <p>As the greatest tool for human communication and collaboration ever invented, Orchid Labs believes that the Internet should be open, accessible, and censorship-free across the globe for every single user. </p>
    <p><a href="https://orchidprotocol.org">Visit our website to learn more</a>
  </div>
  <div class="col-lg-10 col-sm-12 offset-lg-1">
  </div>
</div>
