@import '../../../assets/scss/variables';
@import '../../../assets/scss/bootstrap_overrides';

div.orcui-checkbox {
  display: flex;
  flex-direction: row;

  > * {
    margin: 7px;
    font-size: 14px;
    color: $gray;
  }

  &:hover {
    cursor: pointer;
  }

  div.orcui-the-checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid $gray-light; // is #979797 in the design...
    border-radius: 3px;
    > img {
      position: relative;
      top: -2px;
      left: 1px;
      visibility: hidden;
    }
    &.checked {
      border-color: $success;
      > img {
        visibility: visible;
      }
    }
    transition: border-color 400ms;
  }
}
