<div class="card">
  <div class="card-body">
    <div class="setting-item">
      <span class="small" [translate]>SETTINGS.LAUNCH_STARTUP</span>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_LAUNCH_STARTUP' | translate }}" orcui-tooltip-placement="right"  class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_LAUNCH_STARTUP' | translate }}" orcui-tooltip-placement="bottom" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
      <orcui-toggle [(isSelected)]="settings.LAUNCH_STARTUP"></orcui-toggle>
    </div>

    <div class="setting-item">
      <span class="small" [translate]>SETTINGS.CONNECT_ON_STARTUP</span>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_CONNECT_ON_STARTUP' | translate }}" orcui-tooltip-placement="right" class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_CONNECT_ON_STARTUP' | translate }}" orcui-tooltip-placement="bottom" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
      <orcui-toggle [(isSelected)]="settings.CONNECT_ON_STARTUP"></orcui-toggle>
    </div>

    <div class="setting-item">
      <span class="small" [translate]>SETTINGS.RELAY_NODE</span>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_RELAY_NODE' | translate }}" orcui-tooltip-placement="right" class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_RELAY_NODE' | translate }}" orcui-tooltip-placement="bottom" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
      <orcui-toggle [(isSelected)]="settings.RELAY_NODE" isSelectedChange="settingsChanged()"></orcui-toggle>
    </div>

    <div class="setting-item setting-item-contains-input limit-bandwidth" *ngIf="settings.RELAY_NODE">
      <span class="small" [translate]>SETTINGS.LIMIT_BANDWIDTH</span>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_LIMIT_BANDWIDTH' | translate }}" orcui-tooltip-placement="right" class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
      <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_LIMIT_BANDWIDTH' | translate }}" orcui-tooltip-placement="bottom" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
      <span class="left-of-toggle" [hidden]="!settings.TOOLTIP_LIMIT_BANDWIDTH">
        <input type="number" class="form-control" [(ngModel)]="settings.LIMIT_BANDWIDTH_AMOUNT">GB/{{ 'GENERAL.MONTH_ABBREVIATION' | translate}}
      </span>
      <orcui-toggle [(isSelected)]="settings.TOOLTIP_LIMIT_BANDWIDTH"></orcui-toggle>
    </div>

    <div class="setting-item">
      <table class="radio-container">
        <tr>
          <td>
            <span class="small" [translate]>SETTINGS.ALL_CONNECTIONS</span>
          </td>
          <td>
            <ui-radio value="all" [(model)]="settings.LIMIT_CONNECTIONS"></ui-radio>
          </td>
          <td>
            <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_ALL_CONNECTIONS' | translate }}" orcui-tooltip-placement="right" class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
            <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_ALL_CONNECTIONS' | translate }}" orcui-tooltip-placement="top" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
          </td>
        </tr>
        <tr>
          <td>
            <span class="small" [translate]>SETTINGS.BROWSERS_ONLY</span>
          </td>
          <td>
            <ui-radio value="browser" [(model)]="settings.LIMIT_CONNECTIONS"></ui-radio>
          </td>
          <td>
            <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_BROWSERS_ONLY' | translate }}" orcui-tooltip-placement="right" class="hide-narrow"><img src="assets/imgs/icons/question.svg"/></a>
            <a orcui-tooltip="{{ 'SETTINGS.TOOLTIP_BROWSERS_ONLY' | translate }}" orcui-tooltip-placement="top" class="hide-wide"><img src="assets/imgs/icons/question.svg"/></a>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
