
.payment-container {
  display: flex;
}

// The div on the left with the radio buttons
.payment-options {
  min-width: 190px;

  // Center content vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

// The div on the right where payment info is entered
.payment-info {

}

.inline-form-elements-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex: 0 0 30%;
    min-width: 140px;
  }
}

button[type=submit] {
  width: 100%;
}
