$container-padding: 1.5rem;

.payment-container {
  display: flex;
}

// The div on the left with the radio buttons
.payment-options {
  position: relative;
  min-width: 190px;
  padding: $container-padding;

  // Center content vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;

  .back-button {
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $container-padding;
  }
}

// The div on the right where payment info is entered
.payment-info {
  padding: 0 $container-padding $container-padding $container-padding;
  width: 100%;

  .payment-info-body {
    min-height: 300px;
    overflow-y: scroll
  }
}

.inline-form-elements-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex: 0 0 30%;
    min-width: 140px;
  }
}

button[type=submit] {
  width: 100%;
}
