<div class="modal fade show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header modal-header-sm">
        <a [routerLink]="[ '', {outlets: { modal: null } }]" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div class="modal-body">

        <form [formGroup]="payment_form" novalidate>
          <div class="payment-container">
            <div class="payment-options">
              {{ payment_form.get('payment_type').value }}
              <div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" formControlName="payment_type" name="payment_type" [value]="PAYMENT_TYPES.CREDIT_CARD" checked>
                    Credit Card
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" formControlName="payment_type" name="payment_type" [value]="PAYMENT_TYPES.PAYPAL">
                    PayPal
                  </label>
                </div>

                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" formControlName="payment_type" name="payment_type" [value]="PAYMENT_TYPES.CRYPTOCURRENCY">
                    Cryptocurrency
                  </label>
                </div>

              </div>
            </div>
            <div class="payment-info">
              <h1>Payment</h1>

              <div class="payment-info-body">
                <div class="credit-card" [hidden]="payment_form.get('payment_type').value !== PAYMENT_TYPES.CREDIT_CARD">
                  <div class="form-group">
                    <label for="payment_credit_card_name">Name on card</label>
                    <input type="text" formControlName="credit_card_name" class="form-control" id="payment_credit_card_name">
                  </div>

                  <div class="form-group">
                    <label for="payment_credit_card_number">Card number</label>
                    <input type="text" formControlName="credit_card_number" class="form-control" id="payment_credit_card_number">
                  </div>

                  <div class="inline-form-elements-container">

                    <div class="form-group">
                      <label for="payment_credit_card_expiration_date">Expiration date</label>
                      <input type="text" class="form-control" formControlName="credit_card_expiration_date" id="payment_credit_card_expiration_date" placeholder="MM/YY">
                    </div>

                    <div class="form-group">
                      <label for="payment_credit_card_security_code">
                        Security code <span class="fa fa-question-circle text-primary"
                                            ngbPopover="Info about the security code"
                                            popoverTitle="Security code"></span>
                      </label>
                      <input type="text" class="form-control" formControlName="credit_card_security_code" id="payment_credit_card_security_code">
                    </div>

                    <div class="form-group">
                      <label for="payment_credit_card_zip_code">Zip code</label>
                      <input type="text" class="form-control" formControlName="credit_card_zip_code" id="payment_credit_card_zip_code" >
                    </div>

                  </div>

                  <div class="form-check">
                    <label class="form-check-label secondary-text">
                      <input type="checkbox" class="form-check-input">
                      Save card info
                    </label>
                  </div>
                </div> <!-- .credit-card -->

                <div class="paypal" [hidden]="payment_form.get('payment_type').value !== PAYMENT_TYPES.PAYPAL">
                  PayPal
                </div>

                <div class="paypal" [hidden]="payment_form.get('payment_type').value !== PAYMENT_TYPES.CRYPTOCURRENCY">
                  Cryptocurrency
                </div>

              </div> <!-- .payment-info-body -->

              <div>
                {{ payment_form.status }}
                <button type="submit" class="btn btn-second-primary" [disabled]="payment_form.status === 'INVALID'">
                  Purchase {{token_purchase_cart.tokens | number }} MET for ${{ (.5 * token_purchase_cart.tokens) | number }}
                </button>
              </div>
            </div>
          </div><!-- .payment-container -->
        </form>
      </div>
    </div>
  </div>
</div>
