$container-padding: 1.5rem;
$secondary-text-color: #99A1B0;
.row {.col {padding-top:15px; padding-bottom: 15px;}}
.confirmation-container {
  display: flex;
  .info-container{border: 1px solid #99A1B0;border-radius: 4px;padding:16px;
small {color:$secondary-text-color;}
  }
}

// The div on the left with the radio buttons
.payment-options {
  position: relative;


  // Center content vertically
  display: flex;
  flex-direction: column;


  .back-button {
    position: absolute;
    bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $container-padding;
  }
}

// The div on the right where payment info is entered
.payment-info {
  padding: 0 $container-padding $container-padding $container-padding;
  width: 100%;

  .payment-info-body {
    overflow-y: auto
  }
}

.inline-form-elements-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex: 0 0 30%;
    min-width: 140px;
  }
}

button[type=submit] {
  width: 100%;
}
