<div class="routed-modal-container" (click)="conditionalClose($event)">
  <div class="routed-modal">
    <form novalidate #sendFormForm="ngForm" [formGroup]="sendForm" (submit)="submit()">
      <h2>
        <span [translate]>WALLET_SEND.TITLE</span>
        <img src="assets/imgs/icons/x-gray.svg" class="pull-right" alt="Close" [routerLink]="['', {outlets: {modal:null}}]">
      </h2>

      <h5 [translate]>GENERAL.AMOUNT</h5>

      <div class="amount-row">
        <div>
          <div class="input-group">
            <input type="text" class="form-control" ngModel formControlName="sendAmountOct">
            <div class="input-group-append">
              <span class="input-group-text">OCT</span>
            </div>
          </div>

          <div class="after-input-message text-warning" [hidden]="!sendForm.controls.sendAmountOct.touched || !sendForm.controls.sendAmountOct.errors || !sendForm.controls.sendAmountOct.errors.required">
            <img src="assets/imgs/icons/x-red.svg" aria-disabled>
            {{ 'WALLET_SEND.OCT_AMOUNT_MISSING' | translate }}
          </div>

          <div class="after-input-message text-warning" [hidden]="!sendForm.controls.sendAmountOct.touched || !sendForm.controls.sendAmountOct.errors || !sendForm.controls.sendAmountOct.errors.pattern">
            <img src="assets/imgs/icons/x-red.svg" aria-disabled>
            {{ 'WALLET_SEND.OCT_AMOUNT_INVALID' | translate }}
          </div>

        </div>

        <div>
          <div class="input-group">
            <input type="text" class="form-control" ngModel formControlName="sendAmountNative">
            <div class="input-group-append">
              <span class="input-group-text">USD</span>
            </div>
          </div>
        </div>
      </div>

      <h5 [translate]>GENERAL.RECIPIENT</h5>
      <div [translate] class="caption">WALLET_SEND.RECIPIENT_EXPLANATION</div>

      <div>
        <div class="input-group">
          <input type="text" class="form-control" ngModel formControlName="ercAddress">
        </div>
      </div>

      <div *ngIf="sendForm.controls.ercAddress.errors">
        <div class="after-input-message text-warning" [hidden]="!sendForm.controls.ercAddress.touched || !sendForm.controls.ercAddress.errors.pattern">
          <img src="assets/imgs/icons/x-red.svg" aria-disabled>
          {{ 'WALLET_SEND.ERC20_NOT_VALID' | translate }}
        </div>
        <div class="after-input-message text-warning" [hidden]="!sendForm.controls.ercAddress.touched || !sendForm.controls.ercAddress.errors.required">
          <img src="assets/imgs/icons/x-red.svg" aria-disabled>
          {{ 'WALLET_SEND.ERC20_REQUIRED' | translate }}
        </div>
      </div>

      <div>
        <orcui-checkbox ngModel formControlName="ethCompatibleOk" [text]="'WALLET_SEND.ETHEREUM_OK' | translate"></orcui-checkbox>
        <orcui-checkbox ngModel formControlName="notCoinbaseOk" [text]="'WALLET_SEND.NOT_COINBASE_OK' | translate"></orcui-checkbox>
      </div>

      <div class="after-input-message text-warning" *ngIf="sendErrorMessage">
        {{ sendErrorMessage }}
      </div>

      <div class="row-actions">
        <button type="submit" class="btn btn-wide btn-primary btn-lg" [disabled]="!sendFormForm.form.valid" [translate]>WALLET_SEND.SEND</button>
      </div>
    </form>
  </div>

</div>
