@import url(http://fonts.googleapis.com/css?family=Roboto);
/*common */
html {
  font-size: 16px; }

.row.equal-height {
  display: flex;
  flex-wrap: wrap; }

.row.equal-height > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.card {
  flex: 1;
  margin-bottom: 1.5rem; }

.row .col {
  padding-top: 30px;
  padding-bottom: 30px; }

#wrapper {
  padding-left: 280px;
  padding-right: 30px;
  width: 100%; }

.btn-primary {
  background-color: #18BECC;
  border-color: #18BECC; }

.ci-met-stack {
  background: url("../imgs/met-stack.svg") no-repeat;
  height: 20px;
  float: left; }

input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 10px;
  background-color: #18BECC; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: #18BECC;
  /* Oval: */
  background: #18BECC;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 18px;
  width: 18px; }

.h-80 {
  height: 80% !important; }

.h-20 {
  height: 20% !important; }

.dropdown .flag {
  width: 24px;
  height: 18px;
  margin-right: 10px; }

/* side nav */
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #CCC;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s; }
  #sidebar-wrapper .sidenav {
    background-color: #616161;
    color: #fff;
    color: #fff;
    height: 100vh;
    font-size: 13px; }

.nav-pills .btn-toggle.active {
  background-color: #18BECC; }
.nav-pills a {
  color: #fff;
  font-family: "Roboto", sans serif;
  font-size: .8rem; }
  .nav-pills a .badge {
    margin-left: 0px !important;
    margin-right: 20px;
    width: 20px;
    text-align: center;
    padding: 4px;
    background-color: #fff;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 85%;
    line-height: 85%; }
.nav-pills .fa {
  font-size: 20px;
  line-height: 20px;
  margin-right: 20px;
  width: 20px;
  text-align: center; }
.nav-pills .nav-link {
  padding-top: .6rem;
  padding-bottom: .6rem; }
.nav-pills .nav-link.active:hover a {
  background-color: transparent; }
.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
  background: none;
  color: #F5A623; }

/* Dashboard */
.dashboard-content {
  padding-top: 30px;
  /*all cards*/
  /*MET balance*/
  /*Usage Summary*/
  /*Browsing location*/ }
  .dashboard-content .card {
    box-shadow: 0 2px 4px 0 rgba(35, 36, 37, 0.3); }
  .dashboard-content .dashboard-card {
    color: #99A1B0; }
    .dashboard-content .dashboard-card .card-block {
      padding-top: .2rem; }
    .dashboard-content .dashboard-card .card-action-container {
      padding: 5px 15px; }
      .dashboard-content .dashboard-card .card-action-container .btn, .dashboard-content .dashboard-card .card-action-container .btn-group, .dashboard-content .dashboard-card .card-action-container input {
        width: 100%; }
    .dashboard-content .dashboard-card .card-content {
      width: 100%;
      text-align: center;
      padding: 15px; }
      .dashboard-content .dashboard-card .card-content h3 {
        font-size: 6rem;
        text-align: center; }
      .dashboard-content .dashboard-card .card-content img {
        width: 100%; }
    .dashboard-content .dashboard-card h4 {
      text-transform: uppercase;
      color: #99A1B0;
      font-family: "Roboto", sans serif;
      font-size: .6rem;
      display: inline; }
    .dashboard-content .dashboard-card .card-help {
      float: right; }
      .dashboard-content .dashboard-card .card-help .fa-question-circle {
        color: #18BECC; }
  .dashboard-content .usage-summary hr {
    margin-bottom: 0px; }
  .dashboard-content .browsing-location .dropdown-toggle::after {
    float: right;
    margin-top: 6px; }

/* End Dashboard Content*/

/*# sourceMappingURL=style.css.map */
