@import '../../../assets/scss/variables';

$meter-height: 11px;

.password-strength-container {
  width: 100%;
  display: flex;
  flex-direction: row;

  > div {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  .meter-container {
    div.meter {
      background-color: $gray-lighter;
      height: $meter-height;
      border-radius: $meter-height/2;
      width: 100%;

      > div {
        border-radius: $meter-height/2;
        height: 100%;
      }

    }
  }

  &.weak {
    .meter > div {
      background-color: $red;
      width: $meter-height;
    }
    .strength-text {
      color: $red;
    }
  }

  &.moderate {
    .meter > div {
      background-color: $orange;
      width: 50%;
    }
    .strength-text {
      color: $orange;
    }
  }

  &.strong {
    .meter > div {
      background-color: $yellow;
      width: 80%;
    }
    .strength-text {
      color: $yellow;
    }
  }

  &.strongest {
    .meter > div {
      background-color: $green;
      width: 100%;
    }
    .strength-text {
      color: $green;
    }
  }
}
