@import '../../../assets/scss/variables';

$meter-height: 11px;

.password-strength-container {
  margin: 0 12px;
  width: 100%;
  display: flex;
  flex-direction: row;

  > div {
    text-align: center;
    margin: auto;
  }

  .meter-container {
    width: 60%;
    div.meter {
      background-color: $gray-lighter;
      height: $meter-height;
      border-radius: $meter-height/2;
      width: 100%;

      > div {
        border-radius: $meter-height/2;
        height: 100%;
        transition: width 1s, background-color 1s;
      }

    }
  }

  .strength-text {
    width: 40%;
  }

  &.Weak {
    .meter > div {
      background-color: $red;
      width: $meter-height;
    }
    .strength-text {
      color: $red;
    }
  }

  &.Moderate {
    .meter > div {
      background-color: $orange;
      width: 50%;
    }
    .strength-text {
      color: $orange;
    }
  }

  &.Strong {
    .meter > div {
      background-color: $yellow;
      width: 80%;
    }
    .strength-text {
      color: $yellow;
    }
  }

  &.Strongest {
    .meter > div {
      background-color: $green;
      width: 100%;
    }
    .strength-text {
      color: $green;
    }
  }
}
