@import '../../../assets/scss/variables';
@import '../../../assets/scss/bootstrap_overrides';

$diameter: 23px;

.ui-radio-container {
  height: $diameter;
  width: $diameter;
  border-radius: 100px; // just bigger than 12px;
  border: 1px solid $gray-lighter;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);

  transition: all 200ms ease;

  .ui-radio-dot {
      width: 15px;
      height: 15px;
      position: relative;
      top: 3px;
      left: 3px;

      display: block;
      border-radius: 100px;
      transition: all 400ms;
  }
}

.ui-radio-container:not(.ui-radio-selected):hover {
  cursor: pointer;
  border-color: $gray-lightest;
}

.ui-radio-container.ui-radio-selected {
  box-shadow: 0 0 2px 1px rgba(92, 184, 92, 0.65);

  .ui-radio-dot {
    background-color: $success;
  }

}
