<div id="wrapper">
  <div id="sidebar-wrapper">
      <div class="connect-container hide-minimized">
        <div class="text-center connect hide-minimized" [ngClass]="{ 'connect-on' : connected }" (click)="toggleOnOff()">
          <img src="assets/imgs/button-connected.svg" [hidden]="!connected">
          <img src="assets/imgs/button-not-connected.svg" [hidden]="connected">
          <button>{{ getOnOffTranslationKey() | translate }}</button>
        </div>
      </div>

      <div class="sidebar-links">
        <div class="links">
          <div class="connection-status hide-maximized" [ngClass]="{ 'connected' : connected }"></div>
          <a routerLink="/main/dashboard" class="link-dashboard" routerLinkActive="active">
            <span class="link-text" [translate]>SIDEBAR.DASHBOARD</span>
          </a>
          <a routerLink="/main/wallet" class="link-wallet" routerLinkActive="active">
            <span class="link-text" [translate]>GENERAL.WALLET</span>
          </a>
          <a routerLink="/main/settings" class="link-settings" routerLinkActive="active">
            <span class="link-text" [translate]="'GENERAL.SETTINGS'"></span>
          </a>
          <a routerLink="/first-launch" routerLinkActive="active">
            <span>first launch</span>
          </a>
        </div>

        <div class="dropup hide-minimized">
          <button class="btn btn-outline-primary" (click)="languageMenuOpened = !languageMenuOpened">
            {{ selectedLanguage.native }} <img src="assets/imgs/icons/down-v-gray.svg" [ngClass]="{opened: languageMenuOpened}" aria-disabled>
          </button>
          <div class="language-list" *ngIf="languageMenuOpened" [@languageSlideOpen]>
            <button class="btn language-dropdown-item" *ngFor="let language of LANGUAGES" (click)="languageSelected(language.code)">{{ language.native }}</button>
          </div>
        </div>
      </div>
  </div>
  <!-- #sidebar-wrapper -->

  <div id="main-content" class="col">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- #wrapper -->
