<div id="wrapper">
  <div id="sidebar-wrapper">
      <div class="connect-container hide-minimized">
        <div class="text-center connect hide-minimized" [ngClass]="{ 'connect-on' : connected }" (click)="toggleOnOff()">
          <img class="connection-button" src="assets/imgs/button-connected.svg" [hidden]="!connected">
          <img class="connection-button" src="assets/imgs/button-not-connected.svg" [hidden]="connected">
          <button>
            {{ getOnOffTranslationKey() | translate }}
            <span class="you-need-oct" *ngIf="!((octBalanceSubject | async) > 0)">
              <img src="assets/imgs/icons/exclamation-white.png">
            </span>
            <span class="you-need-oct-text" *ngIf="!((octBalanceSubject | async) > 0)">
              {{ 'GENERAL.INSUFFICIENT_FUNDS' | translate}}
            </span>
          </button>
        </div>
      </div>

      <div class="sidebar-links">
        <div class="links">
          <div class="connection-status hide-maximized" [ngClass]="{ 'connect-on' : connected }" (click)="toggleOnOff()"></div>
          <a routerLink="/main/dashboard" class="link-dashboard" routerLinkActive="active">
            <span class="link-text" [translate]>SIDEBAR.DASHBOARD</span>
          </a>
          <a routerLink="/main/wallet" class="link-wallet" routerLinkActive="active">
            <span class="link-text" [translate]>GENERAL.WALLET</span>
          </a>
          <a routerLink="/main/settings" class="link-settings" routerLinkActive="active">
            <span class="link-text" [translate]="'GENERAL.SETTINGS'"></span>
          </a>
        </div>

        <div class="language-dropup hide-narrow">
          <button class="btn btn-outline-primary" (click)="languageMenuOpened = !languageMenuOpened">
            <img class="language-icon" src="assets/imgs/icons/translate.svg" aria-hidden>
            {{ selectedLanguage.native }}
            <img class="language-arrow" src="assets/imgs/icons/down-v-gray.svg" [ngClass]="{opened: languageMenuOpened}" aria-disabled>
          </button>
          <div class="language-list" *ngIf="languageMenuOpened" [@languageSlideOpen]>
            <button class="btn language-dropdown-item" *ngFor="let language of LANGUAGES" (click)="languageSelected(language.code)">{{ language.native }}</button>
          </div>
        </div>
      </div>
  </div>
  <!-- #sidebar-wrapper -->

  <div id="main-content" class="col">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- #wrapper -->

<ng-template #noticeModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h2 class="modal-title">Welcome.</h2>
  </div>
  <div class="modal-body row">
    <div class="col-sm-3">
        <img src="assets/imgs/warning.png" aria-hidden>
    </div>
    <div class="col-sm-9">
      <p>This demo is intended for testing purposes and does not provide a secure connection to the Orchid Network.</p>
      <p>Tokens earned, transacted, or stored in this version are not real.</p>
    </div>
  </div>
  <div class="modal-footer" style="border: 0px">
    <button type="button" class="btn btn-primary btn-lg btn-wide" (click)="c('Close click')">Got it</button>
  </div>
</ng-template>
