<router-outlet name="met-manager-modal"></router-outlet>
<div class="row panda text-center">
</div>
<div class="row equal-height">
  <div class="col-sm-4"><!--this div should be hidden until people can actually earn CHI -->
    <div class="card dashboard-card met-balance">
      <div class="card-header">
        <h4 class="card-title">Total Earnings</h4><span class="card-title-data">982.76 CHI</span>
        <span class="card-help">
          <a ngbTooltip="This is how much CHI you have earned over time" placement="bottom"><span class="fa fa-question-circle"></span></a>
        </span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><canvas id="earningsChart" width="240" height="130"></canvas></div>
        <div class="card-action-container h-20 justify-content-end">
          <p class="card-desc">CHI Earned</p>
          <small>CHI earned over time</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dashboard-card browsing-location">
      <div class="card-header">
        <h4 class="card-title">Current CHI VALUE (USD)</h4><span class="card-title-data">1,236</span>
        <span class="card-help"><a ngbTooltip="Current value of 1 CHI in USD" placement="bottom"><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><canvas id="valueChart" width="240" height="130"></canvas></div>
        <div class="card-action-container h-20 justify-content-end">
          <p class="card-desc">CHI Value (USD)</p>
          <small>Value of CHI in USD over time</small>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4 last">
    <div class="card dashboard-card security-level">
      <div class="card-header">
        <h4 class="card-title">Current CHI VALUE (GB)</h4><span class="card-title-data">22</span>
        <span class="card-help"><a ngbTooltip="Current value of 1 CHI in gigabytes."  placement="bottom"><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end" ng-controller="Ctrl" ng-app="sec-val">
        <div class="card-content h-80 justify-content-end"><canvas id="gbValueChart" width="240" height="130"></canvas></div>
        <div class="card-action-container h-20 justify-content-end">
          <p class="card-desc">Cost per GB (CHI)</p>
          <small>Cost per GB in CHI over time</small>
        </div>
      </div>

    </div>
  </div>
</div> <!-- end 1st row -->
<div class="row equal-height">
  <div class="col-sm-4 info-data">
    <h4>Current CHI Balance</h4>
    <h3>465.34<span>CHI</span></h3>
  </div>
  <div class="col-sm-4 my-auto">
    <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="[ '/met-manager', {outlets: { 'met-manager-modal': 'purchase-how-to' } }]">HOW TO BUY</a>
  </div>
  <div class="col-sm-4 my-auto">
    <a class="btn btn-second-primary btn-lg" href="#" role="button" [routerLink]="[ '', {outlets: { 'met-manager-modal': 'purchase-start' } }]">HOW TO SELL</a>
  </div>
</div><!--end 2nd row-->
<p>
</p>
