@import '../assets/scss/variables';
@import '../assets/scss/mixins';

#electron-titlebar {
  -webkit-app-region: drag;

  #title-bar-btns {
    float: left;
    -webkit-app-region: no-drag;
  }

  span {
    float: right;
    font-size: 12px;
    font-weight: normal;
  }
  padding: 8px 30px;
  background-color: $navbar-background;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}
