<div id="electron-titlebar">Orchid: Access the World!<span class="badge badge-primary">465.34 CHI</span></div>
<router-outlet name="modal"></router-outlet>
<div id="wrapper">
  <div id="sidebar-wrapper" class="row">
    <div class="sidenav col">
      <div class="navbar navbar-inverse sidebar-navbar">
        <div class="text-center" on-click="imgsrc='assets/imgs/button-connected.png'">
        <a class="text-center"><!-- show when connected <img src="assets/imgs/button-connected.png" align="center" class="connect-button" /> --><img src="{{imgsrc}}" align="center" class="connect-button" /></a>
        <br />
        Connect
      </div>
        <ul class="nav flex-column nav-pills nav-stacked">
<!--
          <li class="nav-item">
            <a title="connect" class="nav-link" data-toggle="tooltip">
              <label class='toggler__label'>
                <input type="checkbox" hidden>
                <div class='toggler' ng-click="connected = !connected"><div class="status"></div></div>
              </label>
            </a>
          </li> -->

          <li class="nav-item nav-item-inverse">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><span class="fa fa-area-chart"></span> Dashboard</a>
          </li>
          <li class="nav-item">
            <a  routerLink="/met-manager" routerLinkActive="active" class="nav-link"><span class="fa ci-met-stack"></span> CHI Manager</a>
          </li>
          <li class="nav-item">
            <a routerLink="/help" routerLinkActive="active" class="nav-link"><span class="fa fa-question-circle"></span> Getting Started</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"><span class="fa fa-info-circle"></span> About</a>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
      <div ngbDropdown placement="top-right" class="d-inline-block">
      <button class="btn btn-outline-secondary" id="languageSelect" ngbDropdownToggle>English</button>
      <div ngbDropdownMenu aria-labelledby="languageSelect">
        <button class="dropdown-item">العربية</button>
        <button class="dropdown-item">中国</button>
        <button class="dropdown-item">русский</button>
      </div>
    </div>
  </div>
  </div><!-- #sidebar-wrapper -->

  <div class="col dashboard-content">
    <router-outlet></router-outlet>
  </div> <!-- .dashboard-content-->
</div> <!-- #wrapper -->
