
@import '../assets/scss/variables';
@import '../assets/scss/mixins';


#electron-titlebar {
  -webkit-app-region: drag;

  #title-bar-btns {
    float: left;
    -webkit-app-region: no-drag;
  }

  span {
    float: right;
    font-size: 12px;
    font-weight: normal;
  }
  padding: 8px 30px;
  background-color: $navbar-background;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

$sidebar-width: 200px;
$sidebar-padding: 30px;

/* side nav */
#sidebar-wrapper {
  margin-left: -$sidebar-width;
  left: $sidebar-width;
  width: $sidebar-width;
  background-color: $brand-primary;
  color: $brand-primary-light;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  @include minimized-breakpoint {
    margin-left: -100px;
    left: 100px;
    width: 100px;
  }

  /* holds the connections stuff at the top */
  .connect-container {
    padding-top: $sidebar-padding;
    width: 100%;
    height: 168px;
    background-color: $navbar-background;
    color: $navbar-foreground;


    .connect {
      width: 100%;
      height: 108px;

      button {
        margin: 15px auto;
        display: block;
        width: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 1;
        border-radius: 12px;
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;

        background-color: $navbar-disconnected;
        &:hover {
          background-color: $navbar-disconnected-hover;
        }
        &:active {
          background-color: $navbar-disconnected-active;
        }
      }
    }

    /* Style for when connection is active */
    .connect-on {
      background-size: contain;
      background-repeat: no-repeat;

      button {
        background-color: $navbar-connected;
        &:hover {
          background-color: $navbar-connected-hover;
        }
        &:active {
          background-color: $navbar-connected-active;
        }
      }
    }

  }

  /* holds the navigation links */
  .sidebar-links {
    height: calc(100vh - 168px);
    font-size: 13px;
    padding: 0;
    @include minimized-breakpoint {
      padding: 30px 0;
    }

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 64px;
      color: $navbar-foreground;
      font-size: 12px;
      text-transform: uppercase;

      &:hover, &.active {
        color: white;
        background-color: $brand-primary-hover;
        text-decoration: none;
      }

      img {
        position: absolute;
        height: 24px;
        top: 20px;
        left: 30px;
      }
      span {
        display: inline-block;
        margin-top: 24px;
        margin-left: 64px;
      }

    }

    .navbar {
      @include minimized-breakpoint {
        padding: 0;
      }
    }

    .dropup {
      position: absolute;
      bottom: 60px;
      padding: 0 15px;
      width: 170px;
      @include minimized-breakpoint {
        width: 100%;
        text-align: center;
        padding: 0;
      }

      .dropdown-menu {
        left: auto !important;
        top: auto !important;
        min-width: 140px !important;
        @include minimized-breakpoint {
          min-width: auto !important;
        }

        .dropdown-item {
          padding: 10px 1.1rem;
        }
      }

      .dropdown-toggle {
        width: 100%;
        @include minimized-breakpoint {
          width: 90px;
        }

        &:after {
          float: right;
          margin-top: 6px;
          // color: #fff;
        }
      }
    }
  }

  .nav-pills {
    li.nav-item {
      @include minimized-breakpoint {
        border-top: 1px solid $gray-light;
      }
    }

    .toggler {
      width: 122px;

      div {
        position: absolute;
        top: 7px;
        left: 42px;
        // color: $primary-text-color;
      }

      div:before {
        content: 'Connect';
        text-transform: uppercase;
        // color: $primary-text-color;
      }

      &__label input:checked ~ .toggler div {
        left: 14px;
      }

      &__label input:checked ~ .toggler div:before {
        content: 'Connected';
        // color: #fff !important;
      }
    }

    a {
      color: $gray-lighter;
      font-size: 0.9rem;
    }

    .fa {
      font-size: 20px;
      line-height: 20px;
      margin-right: 20px;
      width: 20px;
      text-align: center;
      vertical-align: middle;
      @include minimized-breakpoint {
        font-size: 36px;
        width: 36px;
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
        opacity: 0.9;
        line-height: 36px;
        width: 100%;
      }
    }

    .fa-globe {
      line-height: 36px;
    }

    .nav-link {
      padding: 0.9rem 0;
      @include minimized-breakpoint {
        text-align: center;
      }
    }

    .nav-link.active:hover {
      a {
        background-color: transparent;
      }
    }

    .nav-link.active,
    .nav-link.active:hover {
      .fa {
        color: $brand-primary-light;
      }
      background: none;
      color: #fff;
      @include minimized-breakpoint {
        background: $gray-lighter;
        color: $gray;
        border-radius: 0;
      }
    }
  }
}
