<div id="electron-titlebar" class="drag"><img src="assets/imgs/h-logo-white.svg" style="height:18px;margin-right:10px;vertical-align:middle;"> <span [translate]="'SIDEBAR.ACCESS'"></span></div>
<router-outlet name="modal"></router-outlet>
<div id="wrapper">
  <div id="sidebar-wrapper" class="row">
    <div class="sidenav col">
      <div class="connect-container">
        <div class="text-center connect" [ngClass]="{ 'connect-on' : connected }" (click)="toggleOnOff()">
          <button>{{ getOnOffTranslationKey() | translate }}</button>
        </div>
      </div>

      <div class="navbar navbar-inverse sidebar-navbar">
        <ul class="nav flex-column nav-pills nav-stacked">

          <li class="nav-item nav-item-inverse">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link"><span class="fa fa-area-chart"></span> <span [translate]>SIDEBAR.DASHBOARD</span></a>
          </li>
          <!-- <li class="nav-item">
            <a routerLink="/help" routerLinkActive="active" class="nav-link"><span class="fa fa-question-circle"></span> Getting Started</a>
          </li> -->
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active" class="nav-link"><span class="fa fa-info-circle"></span> <span [translate]="'SIDEBAR.ABOUT'"></span></a>
          </li>
        </ul>

      </div>
      <!--/.nav-collapse -->
      <div ngbDropdown placement="top-right" class="d-inline-block">
        <button class="btn btn-outline-secondary" id="languageSelect" ngbDropdownToggle>{{ selectedLanguage.native }}</button>
        <div ngbDropdownMenu aria-labelledby="languageSelect">
          <button *ngFor="let language of LANGUAGES" class="dropdown-item" (click)="languageSelected(language.code)">{{ language.native }}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- #sidebar-wrapper -->

  <div class="col dashboard-content">
    <router-outlet></router-outlet>
  </div>
  <!-- .dashboard-content-->
</div>
<!-- #wrapper -->
