
@import '../assets/scss/variables';
@import '../assets/scss/mixins';


#electron-titlebar {
  -webkit-app-region: drag;

  #title-bar-btns {
    float: left;
    -webkit-app-region: no-drag;
  }

  span {
    float: right;
    font-size: 12px;
    font-weight: normal;
  }
  padding: 8px 30px;
  background-color: $navbar-background;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

$sidebar-width: 200px;
$sidebar-padding: 30px;

/* side nav */
#sidebar-wrapper {
  margin-left: -$sidebar-width;
  left: $sidebar-width;
  width: $sidebar-width;
  background-color: $brand-primary;
  color: $brand-primary-light;
  position: fixed;
  height: 100%;
  overflow-y: hidden;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  @include minimized-breakpoint {
    margin-left: -100px;
    left: 100px;
    width: 100px;
  }

  /* holds the connections stuff at the top */
  .connect-container {
    padding-top: $sidebar-padding;
    width: 100%;
    height: 168px;
    background-color: $navbar-background;
    color: $navbar-foreground;


    .connect {
      width: 100%;
      height: 108px;

      button {
        margin: 15px auto;
        display: block;
        width: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 1;
        border-radius: 12px;
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;

        background-color: $gray-light;
        &:hover {
          background-color: $gray-lighter;
        }
        &:active {
          background-color: $gray;
        }
      }
    }

    /* Style for when connection is active */
    .connect-on {
      background-size: contain;
      background-repeat: no-repeat;

      button {
        background-color: $navbar-connected;
        &:hover {
          background-color: $navbar-connected-hover;
        }
        &:active {
          background-color: $navbar-connected-active;
        }
      }
    }

  }

  /* holds the navigation links */
  .sidebar-links {
    height: calc(100vh - 204px);
    position:relative;
    font-size: 13px;
    padding: 0;
    @include minimized-breakpoint {
      padding: 30px 0;
    }

    a {
      display: block;
      position: relative;
      width: 100%;
      height: 64px;
      color: $navbar-foreground;
      font-size: 12px;
      text-transform: uppercase;

      &:hover, &.active {
        color: white;
        background-color: $brand-primary-hover;
        text-decoration: none;
      }

      img {
        position: absolute;
        height: 24px;
        top: 20px;
        left: 30px;
      }
      span {
        display: inline-block;
        margin-top: 24px;
        margin-left: 64px;
      }

    }

    .navbar {
      @include minimized-breakpoint {
        padding: 0;
      }
    }

    .dropup {
      position: absolute;
      // bottom: 36px;
      bottom: 0px;
      padding: 0;
      width: 100%;
      background-color: $navbar-background;

      .btn {
        width: 100%;
        border: 0;
        border-radius: 0px;
        color: $gray-light;
        // &:hover, &:focus {
        //   border-radius: 0px !important;
        // }
      }
    }
  }
}
