<div class="first-launch-container">
  <div class="first-launch-content">

    <div class="launch-content">
      <video controls muted id="first-run-video" (ended)="videoStopped()" #videoElement>
        <source src="assets/videos/orchid_obanimaticrough_v3.mp4" type="video/mp4" />
      </video>
    </div>

  </div>
  <div class="first-launch-buttons">
    <a class="btn" (click)="firstRunDone()" tabindex="0" [translate]>
      <span>Skip</span>
      <img src="assets/imgs/icons/arrow-right-gray.png" aria-hidden>
    </a>
  </div>
</div>
