@import '../../assets/scss/variables';

// TODO: because we've iterated through a few styles here, things don't work as well
// as they could, especially when the size of the screen changes

$fl-padding: 15px;

.first-launch-container {
  height: calc(100vh - 36px); // full height minus topbar
  display: flex;
  flex-direction: row;

  .next-prev {
    display: inline-flex;
    width: 80px;
    > div {
      text-align: center;
      width: 100%;
      margin: auto auto;
      &:hover {
        cursor: pointer;
      }

      img {
        width: 11px; //???
      }
    }
  }

  .first-launch-content {

    width: calc(100% - 160px);
    position: relative;

    .launch-content {
      display: flex;
      flex-direction: row;
      height: calc(100% - 80px);

      .first-launch-image {
        margin-top: 40px; // magic number
        width: 50%;
        padding: $fl-padding;
        display: flex;
        align-items: center;
        img {
          margin: auto;
          width: 100%
        }
      }

      .first-launch-text {
        width: 50%;
        padding: $fl-padding;
        display: flex;
        align-items: center;
        .text-container {
          color: $gray-dark;
          line-height: 30px;
        }
      }

      &.launch-1 {
        .first-launch-image {
          img {
            margin-left: -24px;
            max-width: 440px;
          }
        }

        .first-launch-text {
          font-size: 18px;
          padding-bottom: 40px;
          img {
            margin-bottom: 36px;
          }
        }
      }

      &.launch-2 {
        .first-launch-image img {
          max-width: 260px;
        }
      }

      &.launch-3 {
        .first-launch-image img {
          max-width: 260px;
        }
      }
    }


    .first-launch-buttons {
      position: absolute;
      padding-left: $fl-padding;
      // bottom: 100px;
      bottom: 183px;
      right: 0;
      width: 50%;
      .btn {
        width: 180px;
        margin-right: 20px;
      }
    }

    .first-launch-dots {
      margin-top: 40px;
      text-align: center;
      .first-run-dot {
        display: inline-block;
        border-radius:8px;
        margin: 0 16px;
        width: 15px;
        height: 15px;
        background-color: $gray-lighter;
        &:hover {
          cursor: pointer;
          background-color: $gray-lightest;
        }
      }
      .first-run-dot.active {
        background-color: $brand-primary;
        &:hover {
          cursor: none;
        }
      }
    }
  }
}
