@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/bootstrap_overrides';

.routed-modal-container .routed-modal {
  position: relative;
  width: 630px;
  max-width: 100%;
}

orcui-password-strength {
  position: relative;
  top: -4px;
}

.password-input-group {
  padding-top: 10px;
}

button.btn[type='submit'] {
  margin-top: $orchid-gutter-width;
  img {
    height: 12px;
    width: unset;
  }
}
