<form novalidate [formGroup]="walletBackupBeginForm" #walletBackupForm="ngForm" (submit)="walletSetupBeginSubmit()" class="divided-dialog">

    <div>
      <h2 [translate]>WALLET_BACKUP.TITLE</h2>
      <div class="small gray" [translate]>WALLET_BACKUP.EXPLANATION</div>
    </div>

    <div>
      <div class="input-group user-input-group mb-2 mr-sm-2">
        <input type="text" id="username" class="form-control input-rounded" ngModel formControlName="username" placeholder="{{ 'GENERAL.USERNAME' | translate}}">
      </div>
      <div *ngIf="walletBackupBeginForm.controls.username.errors" class="text-warning">
        <div *ngIf="walletBackupBeginForm.controls.username.errors.required" class="text-warning">
          <img src="assets/imgs/icons/x-red.svg" aria-disabled> Username is required
          <span [translate]>WALLET_BACKUP.USERNAME_REQUIRED</span>
        </div>
      </div>

      <div class="input-group password-input-group mb-2 mr-sm-2">
        <input type="password" class="form-control input-rounded"  ngModel formControlName="password" placeholder="{{ 'GENERAL.PASSWORD' | translate}}">
      </div>
      <orcui-password-strength [password]="walletBackupBeginForm.controls.password.value"></orcui-password-strength>

      <div class="input-group password-input-group mb-2 mr-sm-2">
        <input type="password" class="form-control input-rounded"  ngModel formControlName="passwordConfirm" placeholder="{{ 'GENERAL.PASSWORD_CONFIRM' | translate}}">
      </div>
      <!-- <div *ngIf="walletBackupBeginForm.controls.passwordConfirm.errors">
        <div *ngFor="let error of walletBackupBeginForm.controls.passwordConfirm.errors">
          <img src="assets/imgs/icons/x-red.svg" aria-disabled>
          {{ error }}
        </div>
      </div> -->

      <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="!walletBackupForm.form.valid" [translate]>GENERAL.NEXT</button>
    </div>

  </form>
