<form novalidate [formGroup]="walletBackupBeginForm" #walletBackupForm="ngForm" (submit)="walletSetupBeginSubmit()" class="divided-dialog">

    <div>
      <h2 [translate]>WALLET_BACKUP.TITLE</h2>
      <div class="small gray" [translate]>WALLET_BACKUP.EXPLANATION</div>
    </div>

    <div>

      <div class="input-group password-input-group mb-2 mr-sm-2">
        <input type="password" class="form-control input-rounded"  ngModel formControlName="password" placeholder="{{ 'GENERAL.PASSWORD' | translate}}">
      </div>
      <orcui-password-strength [password]="walletBackupBeginForm.controls.password.value" [translateFunction]="translateStrength"></orcui-password-strength>

      <div class="input-group password-input-group mb-2 mr-sm-2">
        <input type="password" class="form-control input-rounded"  ngModel formControlName="passwordConfirm" placeholder="{{ 'GENERAL.PASSWORD_CONFIRM' | translate}}">
      </div>

      <div [style.visibility]="(walletBackupBeginForm.controls.passwordConfirm.pristine || !walletBackupBeginForm.errors || !walletBackupBeginForm.errors.passwordMatch)?'hidden':''" class="after-input-message text-warning">
        <img src="assets/imgs/icons/x-red.svg" aria-disabled>
        <span [translate]>WALLET_BACKUP.PASSWORDS_DO_NOT_MATCH</span>
      </div>

      <button type="submit" class="btn btn-lg btn-block btn-primary btn-img-right" [disabled]="!walletBackupForm.form.valid">
        {{ 'GENERAL.NEXT' | translate }}
        <img src="assets/imgs/icons/arrow-right-white.png" aria-disabled>
      </button>
    </div>

  </form>
