<div class="card">
  <div class="card-body">
    <div class="setting-item">
      <span class="small" [translate]>SETTINGS.NATIVE_CURRENCY</span>
      <div class="form-group setting-value">
        <!-- <label></label> -->
        <select [ngModel]="settings.currency">
          <option *ngFor="let c of currencies" [ngValue]="c.code">{{c.code}}</option>
        </select>
      </div>
    </div>

    <div class="setting-item">
      <span class="small" [translate]>SETTINGS.AUTO_TRANSFER</span>
      <a ngbTooltip="{{ 'SETTINGS.AUTO_TRANSFER' | translate }}" placement="bottom"><img src="assets/imgs/question.svg"/></a>
      <ui-toggle [(isSelected)]="settings.AUTO_TRANSFER"></ui-toggle>
    </div>
  </div>
</div>

<div class="row-actions">
  <button class="btn btn-outline-warning btn-wide btn-lg" [translate]>SETTINGS.BUTTON_NEW_WALLET</button>
  <button class="btn btn-outline-success btn-wide btn-lg" [translate]>SETTINGS.BUTTON_UNLINK_WALLET</button>
</div>
