@import '../../../assets/scss/variables';
@import '../../../assets/scss/bootstrap_overrides';
@import '../../../assets/scss/mixins';

$height: 25.5px;
$width: 50px;
$height-small: 18px;
$width-small: 36px;

.toggle-container {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-lighter;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    top: 2px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $success;
  }

  input:checked + .slider:before {
    transform: translateX($width/2);
  }

  /* Rounded sliders */
  .slider {
    border-radius: $height;
  }

  .slider:before {
    border-radius: 50%;
  }
  // minimized styling
  @include minimized-breakpoint {
      width: $width-small;
      height: $height-small;
      .slider:before {
        left: 1px;
        top: 1px;
        height: $height-small - 2px;
        width: $height-small - 2px;
      }
      input:checked + .slider:before {
        transform: translateX($width-small/2);
      }
  }
}
