<div class="wallet-top-area-wide row hide-narrow">
  <div class="wallet-balance col-md-4">
    <div [translate]>WALLET.CURRENT_BALANCE</div>
    <div>
      <span class="wallet-balance-number" [textContent]="orcBalance | number: '1.3'"></span> OCT (${{ usdBalance | number: '1.2'}})
    </div>
  </div>
  <div class="wallet-actions col-md-8">
    <!-- TODO: add back to the div.wallet-backup -->
    <!-- [style.visibility]="walletBackedUp ? 'hidden' : 'visible'" -->
    <div class="wallet-backup" >
      <div class="btn btn-img btn-warning" [routerLink]="['', {outlets: {modal:'wallet-backup'}}]" (click)="setWalletBackedUp()">
        <img src="assets/imgs/icons/alert-circle.png" aria-disabled>
        <span [translate]>WALLET.PLEASE_BACKUP</span>
      </div>
    </div>
    <div class="wallet-button-row">
      <!-- <span class="btn btn-primary" [routerLink]="['', {outlets: {modal:'wallet-share'}}]">
        <span [translate]>WALLET.SHARE</span>
      </span> -->
      <span></span>
      <span class="btn btn-img btn-secondary" [routerLink]="['', {outlets: {modal: 'wallet-send'}}]">
        <img src="assets/imgs/icons/send.png" aria-disabled>
        <span [translate]>WALLET.SEND</span>
      </span>
      <span class="btn btn-img btn-border" [routerLink]="['', {outlets: {modal:'wallet-receive'}}]">
        <img src="assets/imgs/icons/qr-code-gray.svg" aria-disabled>
        <span [translate]>WALLET.RECEIVE</span>
      </span>
    </div>
  </div>
</div>

<div class="wallet-top-area-narrow hide-wide">
  <div class="btn btn-img btn-warning backup-button" [routerLink]="['', {outlets: {modal:'wallet-backup'}}]" *ngIf="!walletBackedUp">
    <img src="assets/imgs/icons/alert-circle.svg" aria-disabled>
    <span [translate]>WALLET.PLEASE_BACKUP</span>
  </div>

  <div class="wallet-balance">
    <div class="small" [translate]>WALLET.CURRENT_BALANCE</div>
    <div>
      <span class="wallet-balance-number" [textContent]="orcBalance"></span><span>OCT (${{ usdBalance | number: '1.2'}})</span>
    </div>
  </div>

  <div class="wallet-button-row">
    <!-- <span class="btn btn-primary" [routerLink]="['', {outlets: {modal:'wallet-share'}}]">
      <span [translate]>WALLET.SHARE</span>
    </span> -->
    <span class="btn btn-img btn-secondary" [routerLink]="['', {outlets: {modal: 'wallet-send'}}]">
      <img src="assets/imgs/icons/send.svg" aria-disabled>
      <span [translate]>WALLET.SEND</span>
    </span>
    <span class="btn btn-img btn-border" [routerLink]="['', {outlets: {modal:'wallet-receive'}}]">
      <img src="assets/imgs/icons/qr-code-gray.png" aria-disabled>
      <span [translate]>WALLET.RECEIVE</span>
    </span>
  </div>

</div>


<div class="wallet-transactions">
  <div class="row wallet-transactions-head">
    <div class="col-sm-6">
      <h2 [translate]>WALLET.HISTORY</h2>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control input-rounded input-search" [placeholder]="'GENERAL.SEARCH' | translate" />
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="hide-minimized">
      <tr>
        <th scope="col">
          <span [translate]>WALLET.FROM</span>
        </th>
        <th scope="col"><span [translate]>WALLET.TO</span></th>
        <th scope="col"><span [translate]>WALLET.STATUS</span></th>
        <th scope="col">
          <span [translate]>WALLET.AMOUNT</span>
        </th>
        <th scope="col">
          <span [translate]>WALLET.DATE</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.from }}</td>
        <td>{{ transaction.to }}</td>
        <td [ngClass]="'transaction-status-' + transaction.status">{{ 'WALLET.' + transaction.status.toUpperCase() | translate  }}</td>
        <td>{{ transaction.amount | number: '1.3'}}</td>
        <td>{{ transaction.date | date: 'shortDate' }}</td>
      </tr>
    </tbody>
  </table>
  <div class="caption no-transactions" *ngIf="transactions.length === 0" [translate]>WALLET.NO_TRANSACTIONS</div>
</div>
