@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

// Styling for the wide version of the top area
.wallet-top-area-wide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 46px;

  .wallet-balance {
    // width: 33%;
    text-align: center;
    text-transform: uppercase;
    .wallet-balance-number {
      font-size: 40px;
    }
  }

  .wallet-actions {
    // width: 66%;

    .wallet-backup {
      > .btn {
        float: right;
        width: 65%;
        margin-bottom: 15px; //???
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .wallet-button-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      span {
        width: 30%;
      }
    }
  }
}

.wallet-transactions {
  background-color: white;
  .wallet-transactions-head {
    padding: 40px;
  }

  table {
    thead {
      background-color: $gray-lightest;
      th {
        text-transform: uppercase;
        border: 0px;
      }
    }
    td {
      border-color: $gray-lightest;
      text-transform: uppercase;
      &.transaction-status-received {
        color: $brand-success;
      }
      &.transaction-status-sent {
        color: $brand-warning
      }
    }
  }
}

.no-transactions {
  padding: $orchid-gutter-width;
  text-align: center;
}



/// begin narrow version styling
@include minimized-breakpoint {
  .wallet-transactions {
    box-shadow: $card-shadow-narrow;
    .wallet-transactions-head {
      padding: $orchid-gutter-width-narrow;
      h2 {
        font-size: 14px;
      }
    }

    .no-transactions {
      padding: $orchid-gutter-width-narrow;
    }
  }
}

.wallet-top-area-narrow {
  .backup-button {
    width: 100%;
    border-radius: 0;
  }

  .wallet-balance {
    padding: $orchid-gutter-width-narrow;
    background-color: white;
    box-shadow: $card-shadow-narrow;

    .small {
      font-weight: bold;
      text-transform: uppercase;
    }

    .wallet-balance-number {
      font-size: 38px;
    }
  }

  .wallet-button-row {
    padding: $orchid-gutter-width-narrow;
    display: flex;
    justify-content: space-between;
    > span {
      width: calc(50% - (#{$orchid-gutter-width-narrow} / 2));
    }

  }
}
