@mixin minimized-breakpoint(){
 @media (max-width: 575px) { @content; }
}
@mixin breakpoint-md{
 @media (max-width: 767px) { @content; }
}

.earn-chi{padding-top: 15px !important;
  @include breakpoint-md {padding-bottom:40px !important;}}
.panda{@include breakpoint-md {display:none;}}
.met-balance{opacity: .4;div{pointer-events: none;}}
.browsing-from-disabled { color: rgba(0,0,0, 0.3); }

// The amount that shows now much GB you have left
.gb-remaining-card {
  .gb-amount {
    color: black;
    font-size: 21px;
    span {
      font-size: 60px;
    }
  }
}

.connection-status-card {

}

.browsing-location-card {
  .dropdown-toggle::after {
    float: right;
    margin-top: 6px;
  }

}
