@import '../../assets/scss/variables';
@import '../../assets/scss/bootstrap_overrides';

@mixin minimized-breakpoint(){
 @media (max-width: 575px) { @content; }
}
@mixin breakpoint-md{
 @media (max-width: 767px) { @content; }
}

.earn-chi{padding-top: 15px !important;
  @include breakpoint-md {padding-bottom:40px !important;}}
.panda{@include breakpoint-md {display:none;}}
.met-balance{opacity: .4;div{pointer-events: none;}}
.browsing-from-disabled { color: rgba(0,0,0, 0.3); }

// The amount that shows now much GB you have left
.gb-remaining-card {
  .gb-amount {
    color: black;
    font-size: 21px;
    span {
      font-size: 60px;
    }
  }
}

.connection-status-card {

  .clock {
    color: black;
    text-align: center;
    font-size: 38px;
    margin-top: 58px;
  }

  .card-footer {
    font-size: 12px;
    text-align: center;
    .card-connected {
      color: $success;

    }
    .card-not-connected {
      color: $danger;
    }
  }
}

.browsing-location-card {
  .browsing-location-map {
    width: 100%;
    max-height: 120px
  }

  .dropdown-toggle::after {
    float: right;
    margin-top: 6px;
  }

  .dropdown {
    width: 100%;
  }

  .btn {
    &:focus {
      box-shadow: none;
      color: inherit;
    }
  }
}
