<div class="overlay"></div>
<div class="row equal-height">
  <div class="col-lg-4 col-md-12 col-sm-12">
    <div class="card dashboard-card inline-trigger gb-remaining-card">
      <div class="card-header">
        <span [translate]>DASHBOARD.GB_REMAINING</span>
        <span class="card-help">
          <a ngbTooltip="{{ 'DASHBOARD.TOOLTIP_GB_REMAINING' | translate }}" placement="bottom"><img src="assets/imgs/question.svg"/></a>
        </span>
      </div>

      <div class="card-body text-center">
        <div class="gb-amount">
          <span>0</span>GB
        </div>
        <div class="text-center" [translate]>
          DASHBOARD.PLEASE_ADD
        </div>
      </div>

      <div class="card-footer">
        <a class="btn btn-primary" href="#" role="button" [routerLink]="[ '/met-manager', {outlets: { 'met-manager-modal': 'purchase-how-to' } }]" [translate]>DASHBOARD.FUND_ACCOUNT</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12 last">
    <div class="card dashboard-card connection-status-card">
      <div class="card-header">
        <span>Connection Status</span>
        <span class="card-help"><a ngbTooltip="{{ 'DASHBOARD.TOOLTIP_CONNECTION' | translate }}" placement="bottom"><img src="assets/imgs/question.svg"/></a></span>
      </div>

      <div class="card-body" ng-controller="Ctrl" ng-app="sec-val">
        <div class="clock">
          <img src="assets/imgs/clock-black.svg" aria-disabled>
          {{time | date: 'HH:mm:ss'}}
        </div>
      </div>

      <div class="card-footer">
        <div *ngIf="connected" class="card-connected">
          <img src="assets/imgs/icons/check-green.svg" aria-disabled>
          <span [translate]>DASHBOARD.CONNECTED</span>
        </div>
        <div *ngIf="!connected" class="card-not-connected">
          <img src="assets/imgs/icons/x-red.svg" aria-disabled>
          <span [translate]>DASHBOARD.NOT_CONNECTED</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card dashboard-card browsing-location-card">
      <div class="card-header">
        <span [translate]>DASHBOARD.DEFAULT_LOCATION</span>
        <span class="card-help"><a ngbTooltip="{{ 'DASHBOARD.TOOLTIP_LOCATION' | translate }}" placement="bottom"><img src="assets/imgs/question.svg"/></a></span>
      </div>

      <div class="card-body">
        <world-map [countryCode]="selectedBrowsingLocation.code"></world-map>
      </div>


      <div class="card-footer">
        <div class="selected-country" *ngIf="!typeaheadOpen" (click)="focusBrowseLocationInput()">
          <img [src]="selectedBrowsingLocation.flagUrl" *ngIf="selectedBrowsingLocation.flagUrl" class="flag" />
          {{ selectedBrowsingLocation.name }}
          <!-- <img class="select-arrow" src="assets/imgs/icons/select-arrow.svg" aria-disabled /> -->
        </div>

        <input #browseLocationInput type="text"
                [hidden]="!typeaheadOpen"
                class="form-control"
                [inputFormatter]="browsingLocationInputFormatter"
                [(ngModel)]="typeaheadBrowsingLocation"
                [resultTemplate]="countrySelectTemplate"
                [ngbTypeahead]="searchBrowsingLocations"
                (click)="focusBrowseLocationInput()"
                (selectItem)="browseLocationSelected($event)"
                (blur)="browseLocationInputBlured()"/>
        <!-- template for browsing location search results -->
        <ng-template #countrySelectTemplate let-r="result" let-t="term">
          <img [src]="r.flagUrl" class="flag" />{{ r.name}}
        </ng-template>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-8 total-earnings-container">
  <div class="card dashboard-card earnings-card">
    <div class="card-body">
      <div class="chart-header">
        <span [translate]>DASHBOARD.TOTAL_EARNINGS</span>
        {{ octEarned }} (OCT)
        <div class="time-span-container">
          <span class="time-span" [ngClass]="{'time-span-selected': earningsSpan==='1h'}" (click)="changeSpan('1h')" [translate]>DASHBOARD.EARNING_SPAN_HOUR</span>
          <span class="time-span" [ngClass]="{'time-span-selected': earningsSpan==='1d'}" (click)="changeSpan('1d')" [translate]>DASHBOARD.EARNING_SPAN_DAY</span>
          <span class="time-span" [ngClass]="{'time-span-selected': earningsSpan==='1w'}" (click)="changeSpan('1w')" [translate]>DASHBOARD.EARNING_SPAN_WEEK</span>
          <span class="time-span" [ngClass]="{'time-span-selected': earningsSpan==='1y'}" (click)="changeSpan('1y')" [translate]>DASHBOARD.EARNING_SPAN_YEAR</span>
          <span class="time-span" [ngClass]="{'time-span-selected': earningsSpan==='all'}" (click)="changeSpan('all')" [translate]>DASHBOARD.EARNING_SPAN_ALL</span>
        </div>
      </div>
      <div>
        <canvas id="dashboardEarningsChart">{{ earningsChart }}</canvas>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4 connections-served-container">
  <div class="card dashboard-card">
      <div class="card-header">
        <span [translate]>DASHBOARD.CONNECTIONS_SERVED</span>
        <span class="card-help"></span>
      </div>
    <div class="card-body">
      <div [translate]>DASHBOARD.ORCHID_TOTAL</div>
      <div class="number">123,123</div>
      <hr>
      <div [translate]>DASHBOARD.YOUR_TOTAL</div>
      <div class="number">123</div>
      <a [routerLink]="['', {outlets: {modal:'wallet-setup-begin'}}]">Wallet setup begin</a>
      <!-- <a [routerLink]="[ '/met-manager', {outlets: { 'met-manager-modal': 'purchase-how-to' } }]">Fund Account</a> -->
    </div>
  </div>
  <div class="btn btn-secondary" [translate] style="margin-bottom: 25px;">DASHBOARD.EARN_MORE</div>
</div>
