<div class="row equal-height">
  <div class="col-sm-4">
    <div class="card dashboard-card met-balance">
      <div class="card-header">
        <h4 class="card-title">MET Balance</h4>
        <span class="card-help">
          <a href="#" title="You need MET to connect!" class="btn btn-secondary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>" class=""><span class="fa fa-question-circle"></span></a>
          <a href="#" ngbTooltip="You need MET to connect!" placement="top"><span class="fa fa-question-circle"></span></a>
        </span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><h3 class="card-text">0</h3></div>
        <div class="card-action-container h-20 justify-content-end">
          <a class="btn btn-primary" href="#" role="button" [routerLink]="[ '/met-manager', {outlets: { 'met-manager-modal': 'purchase-start' } }]">Purchase MET</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dashboard-card browsing-location">
      <div class="card-header">
        <h4 class="card-title">Default Browsing Location</h4>
        <span class="card-help"><a href="#" class="" title="This is where you will appear to be browsing the internet from." data-toggle="tooltip" data-placement="bottom"><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><img src="assets/imgs/map-placeholder.svg"></div>
        <div class="card-action-container h-20 justify-content-end">

          <div class="dropdown">
            <div class="form-group">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-secondary dropdown-toggle text-left"
                        type="button"
                        id="dropdownMenuButton"
                        ngbDropdownToggle
                        aria-haspopup="true"
                        aria-expanded="false">
                  <img src="assets/imgs/icons/flags/us.svg" class="flag" /> The United States
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                  <div id="custom-search-input">
                    <div class="input-group col-md-12">
                      <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                      <input type="text" class="form-control input-lg" placeholder="Search" />
                    </div>
                  </div>
                  <a class="dropdown-item" href="#"><img src="assets/imgs/icons/flags/ar.svg" class="flag" /> Another</a>
                  <a class="dropdown-item" href="#"><img src="assets/imgs/icons/flags/ag.svg" class="flag" /> Country</a>
                  <a class="dropdown-item" href="#"><img src="assets/imgs/icons/flags/fr.svg" class="flag" /> Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dashboard-card security-level">
      <div class="card-header">
        <h4 class="card-title">Security Level</h4>
        <span class="card-help"><a href="#" class=""><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end" ng-controller="Ctrl" ng-app="sec-val">
        <div class="card-content h-80 justify-content-end"><h3 class="card-text"><output for="security-range" id="sec-lev">5</output></h3></div>
        <div class="card-action-container h-20 justify-content-end">
          <form name="set-security-level">
          <input id="security-slider" type="range" min="0" max="10" value="5" id="security-range" step="1" data-ng-model="security.level" />
        </form>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row equal-height">
  <div class="col-sm-4">
    <div class="card dashboard-card">
      <div class="card-header">
        <h4 class="card-title">Usage Summary</h4>
        <span class="card-help"><a href="#" class=""><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><img src="assets/imgs/chart-placeholder.svg"><hr/></div>
        <div class="card-action-container h-20 justify-content-end">
          <span style="float: left;">65%</span><span style="float: right;">43%</span>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dashboard-card">
      <div class="card-header">
        <h4 class="card-title">Bandwidth</h4>
        <span class="card-help"><a href="#" class=""><span class="fa fa-question-circle"></span></a></span>
      </div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><img src="assets/imgs/ograph-placeholder.svg"></div>
        <div class="card-action-container h-20 justify-content-end">
          <strong>Usage</strong><br />How much bandwidth
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dashboard-card">
      <div class="card-header"><h4 class="card-title">MET Earned</h4><span class="card-help"><a href="#" class=""><span class="fa fa-question-circle"></span></a></span></div>
      <div class="h-100 card-block justify-content-end">
        <div class="card-content h-80 justify-content-end"><img src="assets/imgs/bgraph-placeholder.svg"></div>
        <div class="card-action-container h-20 justify-content-end">
          <strong>MET Earned</strong><br />MET earned over time
        </div>
      </div>

    </div>
  </div>

</div><!--row-->
<!-- <router-outlet name="modal"></router-outlet> -->
