<form novalidate [formGroup]="walletConfirmForm" #walletConfirm="ngForm" (submit)="submit()" class="divided-dialog">
  <div>
      <h2 [translate]>WALLET_BACKUP.CONFIRM_TITLE</h2>
      <div [translate]>WALLET_BACKUP.CONFIRM_EXPLANATION</div>
  </div>
  <div>

      <div class="input-group user-input-group mb-2 mr-sm-2">
        <input type="text" id="username" class="form-control input-rounded" ngModel formControlName="username" placeholder="{{ 'GENERAL.USERNAME' | translate}}">
      </div>

      <div class="input-group password-input-group mb-2 mr-sm-2">
        <input type="password" class="form-control input-rounded"  ngModel formControlName="password" placeholder="{{ 'GENERAL.PASSWORD' | translate}}">
      </div>
  </div>
</form>
