.help-step{
  span {background: #FFFFFF;border: 1px dashed #79E2F5;border-radius:50%;width:39px;    display: inline-block;text-align: center;line-height: 39px; height:39px;color:#79E2F5;font-family:Roboto;font-size: 24px;margin-right:18px;}
  h5 {display: inline-block;}

}
.help-image{img{padding: 25px 0px 0px 65px;}}
