@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.settings-tab-container {
  margin: 0 $orchid-page-margin-width $orchid-gutter-width $orchid-page-margin-width;
  color: $gray-light;

  .active {
    color: $brand-primary;
  }

  > *:focus {
    outline: none;
  }
  > span {
    cursor: pointer;
  }
}

@include minimized-breakpoint {
  .settings-tab-container {
    margin: $orchid-gutter-width-narrow;
    text-align: center;
    font-size: 14px;
  }
}
