@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.settings-tab-container {
  margin: 0 $orchid-gutter-width $orchid-gutter-width $orchid-gutter-width;
  color: $gray;

  .active {
    color: $brand-primary;
  }

  > *:focus {
    outline: none;
  }
  > span {
    cursor: pointer;
  }
}

@include minimized-breakpoint {
  .settings-tab-container {
    margin: $orchid-gutter-width;
    text-align: center;
  }
}
