/** Common css for all the settings-* components */
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.card {
  margin: 0 $orchid-page-margin-width $orchid-gutter-width $orchid-page-margin-width;

  .card-body {
    padding: 0 $orchid-gutter-width;

    .setting-item {
      position: relative;
      padding: 14px 0;
      border-width: 0 0 1px 0;
      border-color: $gray-default;
      border-style: solid;

      .small {
        padding-right: 7px;
      }

      // add this to a div before the toggle to position it left of the toggle
      .left-of-toggle {
        position: absolute;
        right: 100px;
        top: 8px;
        input {
          width: 100px;
          display: inline-block;
          margin-right: 20px;
        }
      }

      &:last-of-type {
        border-width: 0
      }

      ui-toggle, .setting-value {
        position: absolute;
        right: 0;
        top: 14px;
      }
    }
  }
}

// narrow styling
@include minimized-breakpoint {
  .card {
    margin: 0;
    border-radius: 0;
  }
}
