/** Common css for all the settings-* components */
@import '../../assets/scss/variables';

.card {
  margin: 0 $orchid-gutter-width $orchid-gutter-width $orchid-gutter-width;

  .card-body {
    padding-top: 0;
    padding-bottom: 0;

    .setting-item {
      position: relative;
      padding: 10px 0; // ???
      border-width: 0 0 1px 0;
      border-color: $gray-default;
      border-style: solid;
      text-transform: uppercase;

      &.setting-item-contains-input {
        height: 58px;
        .small, a {
          position: relative;
          top: 6px;
        }
        ui-toggle {
          top: 14px;
        }
      }

      &:last-of-type {
        border-width: 0
      }

      ui-toggle, .setting-value {
        position: absolute;
        right: 0;
        top: 8px;
      }
    }
  }

}
